<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trouver un événement</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;600;700&display=swap" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-icons.css" rel="stylesheet">
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <link href="css/owl.theme.default.min.css" rel="stylesheet">
    <link href="css/tooplate-gotto-job.css" rel="stylesheet">
    <link href="css/ticket.css" rel="stylesheet">

</head>
<body class="about-page" id="top">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand d-flex align-items-center" href="index.html">
            <img src="images/logo.png" class="img-fluid logo-image" />
  
            <div class="d-flex flex-column">
              <strong class="logo-text">5ademni</strong>
              <small class="logo-slogan">Online Job Portal</small>
            </div>
          </a>
  
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav align-items-center ms-lg-5">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Homepage</a>
              </li>
  
              <li class="nav-item">
                <a class="nav-link active" href="about.html">About Gotto</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="eventButton" role="button" data-bs-toggle="dropdown" aria-expanded="false">Événements</a>
            
                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="eventButton">
                    <li><a class="dropdown-item" href="ajouter-evenement.html">Ajouter un événement</a></li>
                    <li><a class="dropdown-item" href="trouver-evenement.html">Trouver un événement</a></li>
                </ul>
            </li>
            
  
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarLightDropdownMenuLink"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  >Pages</a
                >
  
                <ul
                  class="dropdown-menu dropdown-menu-light"
                  aria-labelledby="navbarLightDropdownMenuLink"
                >
                  <li>
                    <a class="dropdown-item" href="job-listings.html"
                      >Job Listings</a
                    >
                  </li>
  
                  <li>
                    <a class="dropdown-item" href="job-details.html"
                      >Job Details</a
                    >
                  </li>
                </ul>
              </li>
  
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
  
              <li class="nav-item ms-lg-auto">
                <a class="nav-link" href="#">Register</a>
              </li>
  
              <li class="nav-item">
                <a class="nav-link custom-btn btn" href="#">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <link href="https://fonts.googleapis.com/css?family=Cabin|Indie+Flower|Inknut+Antiqua|Lora|Ravi+Prakash" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"  />
      
      <div class="container">
        <h1 class="upcomming">upcomming gigs</h1>
        <div class="item">
          <div class="item-right">
            <h2 class="num">23</h2>
            <p class="day">Feb</p>
            <span class="up-border"></span>
            <span class="down-border"></span>
          </div> <!-- end item-right -->
          
          <div class="item-left">
            <p class="event">Music Event</p>
            <h2 class="title">Live In Sydney</h2>
            
            <div class="sce">
              <div class="icon">
                <i class="fa fa-table"></i>
              </div>
              <p>Monday 15th 2016 <br/> 15:20Pm & 11:00Am</p>
            </div>
            <div class="fix"></div>
            <div class="loc">
              <div class="icon">
                <i class="fa fa-map-marker"></i>
              </div>
              <p>North,Soth, United State , Amre <br/> Party Number 16,20</p>
            </div>
            <div class="fix"></div>
            <button class="tickets">Tickets</button>
          </div> <!-- end item-right -->
        </div> <!-- end item -->
        
        <div class="item">
          <div class="item-right">
            <h2 class="num">23</h2>
            <p class="day">Feb</p>
            <span class="up-border"></span>
            <span class="down-border"></span>
          </div> <!-- end item-right -->
          
          <div class="item-left">
            <p class="event">Music Event</p>
            <h2 class="title">Live Been Corrage</h2>
            
            <div class="sce">
              <div class="icon">
                <i class="fa fa-table"></i>
              </div>
              <p>Monday 15th 2016 <br/> 15:20Pm & 11:00Am</p>
            </div>
            <div class="fix"></div>
            <div class="loc">
              <div class="icon">
                <i class="fa fa-map-marker"></i>
              </div>
              <p>North,Soth, United State , Amre <br/> Party Number 16,20</p>
            </div>
            <div class="fix"></div>
            <button class="tickets">Tickets</button>
          </div> <!-- end item-right -->
        </div> <!-- end item -->
        
        <div class="item">
          <div class="item-right">
            <h2 class="num">23</h2>
            <p class="day">Feb</p>
            <span class="up-border"></span>
            <span class="down-border"></span>
          </div> <!-- end item-right -->
          
          <div class="item-left">
            <p class="event">Music Kaboom</p>
            <h2 class="title">Music Party</h2>
            
            <div class="sce">
              <div class="icon">
                <i class="fa fa-table"></i>
              </div>
              <p>Monday 15th 2016 <br/> 15:20Pm & 11:00Am</p>
            </div>
            <div class="fix"></div>
            <div class="loc">
              <div class="icon">
                <i class="fa fa-map-marker"></i>
              </div>
              <p>North,Soth, United State , Amre <br/> Party Number 16,20</p>
            </div>
            <div class="fix"></div>
            <button class="booked">Booked</button>
          </div> <!-- end item-right -->
        </div> <!-- end item -->
        
        <div class="item">
          <div class="item-right">
            <h2 class="num">23</h2>
            <p class="day">Feb</p>
            <span class="up-border"></span>
            <span class="down-border"></span>
          </div> <!-- end item-right -->
          
          <div class="item-left">
            <p class="event">Music Event</p>
            <h2 class="title linethrough">Hello Dubail Visivle</h2>
            
            <div class="sce">
              <div class="icon">
                <i class="fa fa-table"></i>
              </div>
              <p>Monday 15th 2016 <br/> 15:20Pm & 11:00Am</p>
            </div>
            <div class="fix"></div>
            <div class="loc">
              <div class="icon">
                <i class="fa fa-map-marker"></i>
              </div>
              <p>North,Soth, United State , Amre <br/> Party Number 16,20</p>
            </div>
            <div class="fix"></div>
            <button class="cancel">Cancele</button>
          </div> <!-- end item-right -->
        </div> <!-- end item -->
      </div>

    <!-- Fichiers JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
